@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="pbContactList">
    @for (int i = 0; i < 9; i++)
    {
        <div class="pbContact">
            <img src="" />
            <div class="pbContactName">Riwaj Rimal</div>
            <div class="pbContactPhone">M-9841061277</div>
            <div class="pbContactEmail">riwaj.rimal@nepasoft.com.np</div>
            <div class="pbContactAddress">Bafal-13,KTM</div>
        </div>
    }
</div>
